<h1>Dashboard admin</h1>
<br>

<h4>Utilisateurs : <%= @user.all.count %></h4>
<%= link_to 'Gérer tous les utilisateurs', admin_user_index_path %>
<hr>
<h4>Expressions créées : <%= @idiom.all.count%></h4>
<%= link_to 'Gérer toutes les expressions', admin_idiom_index_path %>