<div class="container">
<h1>Tableau de bord - Les Commentaires</h1>
<%= link_to "Retourner au tableau de bord Admin", admin_root_path, class: "button__normal button__info" %>

<h2>Tous les commentaires</h2>
<%= render 'all_comments' %>

</div>