<div class="profile__title profile__title--bg-color-1">
  <h1>Mon profil</h1>
  <%= link_to "EDIT", edit_user_registration_path, class: 'button__normal button__info' %>
</div>

<%= render 'profile'%>

  <div class="profile-my-idioms">
    <div class="profile__title profile__title--bg-color-2">
      <h2>Mes Expressions</h2>
    </div>
      <%= render 'cards' %>  
  </div>
    
  <div class="profile-my-likes">
      <div class="profile__title profile__title--bg-color-2">
        <h2>Mon Florilège</h2>
      </div>
  <%= render 'likes' %>
  </div>



