<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="profile__title profile__title--bg-color-1">
  <h2>Mot de passe oublié</h2>
</div>

<div class="form">
  <div class="form__content center">
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__control", placeholder: 'Email' %>
  </div>

  <div class="right form__button">
    <%= f.submit "Envoyez-moi les instructions", class: 'button__normal button__info' %>
  </div>

    <div class="form__links">
      <%= render "devise/shared/links" %>
    </div>

</div>
</div>
<% end %>
