<%= form_for(:comments, url:(idiom_comments_path(@idiom)), action: "create", method: :post) do |f| %>
<div class="card">
    
    <div>
    <%= f.text_area :body, class: "form__comment", placeholder: 'Ton commentaire (2 - 100 carac.)' %>
    </div>

    <di class="card__bottom">
        <div class="card__row"></div>
        <div class="card__row">
            <%= f.submit 'POSTER', class: 'button__small button__info' %>
        </div>
    </div>
</div>

<% end %>