<div class="card">
	<div class="center">
		<span class="avis">Envie de donner ton avis ?</span>
	</div>
	<div class="signin__buttons">
		<div>
          	<%= link_to "S'INSCRIRE", new_user_registration_path, class: 'button__normal button__info--bis' %>
		</div>
		<div>
			<%= link_to "SE CONNECTER", new_user_session_path, class: 'button__normal--signin button__info--bis' %>
		</div>
	</div>
</div>