<% @user.each do |user|%>
    <h3>Utilisateur numéro <%=user.id%><h3>
    <p><%=user.alias%></p>
    <p><%=user.email%></p>
    <%=link_to 'Plus de détails', admin_user_path(user.id), class: "button__normal button__success"%>
<%end%>