<div class="container">
<h1>Tableau de bord - Les Expressions</h1>
<%= link_to "Retourner au tableau de bord Admin", admin_root_path, class: "button__normal button__info" %>

<h2>Expressions à valider</h2>
<%= render 'validate_expressions' %>

<h2>Toutes les expressions</h2>
<%= render 'all_expressions' %>
</div>