<div class="container">
<%= link_to "Retourner au tableau de bord Admin", admin_root_path, class: "button__normal button__info" %>

<h1>Toutes les expressions à valider</h1>
<%= render 'validate_expressions' %>

<h1>Toutes les expressions</h1>
<%= render 'all_expressions' %>
</div>