<p>Bienvenue <%= @email %> !</p>

<p>Tu peux confirmer l'email de ton compte en cliquant sur le lien ci-dessous :</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
