<p>Bonjour <%= @email %> !</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour t'informer que ton email est en train d'être changé en <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour t'informer que ton email a été changé en <%= @resource.email %>.</p>
<% end %>
