<p>Bonjour <%= @resource.email %> !</p>

<p>Quelqu'un a demandé un lien pour changer ton mot de passe. Tu peux le faire via le lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu ne l'as pas demandé, tu peux ignorer cet email.</p>
<p>Ton mot de passe ne changera pas tant que tu n'auras pas accédé au lien ci-dessus et créé un nouveau mot de passe.</p>
