<p>Bonjour <%= @resource.email %> !</p>

<p>Ton compte a été verrouillé en raison d'un nombre excessif de tentatives d'ouverture de session infructueuses.</p>

<p>Cliquez sur le lien ci-dessous pour déverrouiller ton compte :</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
